{% extends "inventario_v2/base.html" %}
{% block title %}Categoria{% endblock %}
{% block content %}
  <section class="panel">
    <div class="panel-header">
      <h1>{% if object %}Editar Categoria{% else %}Adicionar Categoria{% endif %}</h1>
    </div>

    <form class="form" method="post">
      {% csrf_token %}
      <div class="form-grid">
        {{ form.as_p }}
      </div>

      <div class="form-actions">
        <button class="btn primary" type="submit">Salvar</button>
        <a class="btn subtle" href="{% url 'inventario_v2:categorias_lista' %}">Cancelar</a>
      </div>
    </form>
  </section>
{% endblock %}