{% extends "App/base.html" %}
{% block title %}{% if metrica %}Editar Métrica{% else %}Nova Métrica{% endif %}{% endblock %}

{% block conteudo %}
<h2 class="mb-4">{% if metrica %}Editar Métrica{% else %}Nova Métrica{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% if metrica %}Salvar Alterações{% else %}Cadastrar{% endif %}</button>
    {% if estoque_atual and estoque_atual.id %}
        <a href="{% url 'metricas_gerenciar' estoque_atual.id %}" class="btn btn-secondary">Voltar</a>
    {% else %}
        <a href="{% url 'metricas_gerenciar' %}" class="btn btn-secondary">Voltar</a>
    {% endif %}
</form>
{% endblock %}