{% extends "inventario_v3/base.html" %}
{% block content %}
  <h2>Produtos</h2>
  <a class="btn btn-primary" href="{% url 'inventario_v3:produtos_adicionar' %}">Adicionar produto</a>
  <table>
    <thead><tr><th>Nome</th><th>Quantidade</th><th>Preço</th><th>Ações</th></tr></thead>
    <tbody>
      {% for p in produtos %}
      <tr>
        <td><a href="{% url 'inventario_v3:produtos_descricao' p.pk %}">{{ p.nome }}</a></td>
        <td>{{ p.quantidade }}</td>
        <td>R$ {{ p.preco }}</td>
        <td>
          <a class="btn" href="{% url 'inventario_v3:produtos_editar' p.pk %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'inventario_v3:produtos_remover' p.pk %}">Excluir</a>
          <a class="btn" href="{% url 'inventario_v3:novo_movimento' p.pk %}">Mover</a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4">Nenhum produto cadastrado.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}